:root {
  --bg-color: #000028; /*цвет фона*/
  --font-family: 'IBM Plex Mono';
  --text-color: #f1b2ce; /*основной текст*/
  --main-title-color: #db00ff; /*текст заголовка h1*/
  --title-color: #ff0070; /*текст остальных заголовков*/
  --accent-text-color: #000028; /*цвет выделенного текста*/
  --accent-color: #ff0070; /*цвет фона для выдленного текста*/
  --button-text-color: #ff0070; /*цвет текста кнопки*/
  --button-border-color: #ff0070; /*цвет границ кнопки*/
  --button-border-hover-color: #ff007066; /*цвет границ кнопки для ховера*/
  --decoration-color: #ff0070; /*цвет границ декорированной области*/
}